@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
body {
    font-family: 'Circular Std Book';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #808294;
    -webkit-font-smoothing: antialiased;
    background: #bebebe;
}

.body-bg {
    background-color: #fbfbfc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #181825;
    margin: 0px 0px 15px 0px;
    font-family: 'Circular Std Book';
}

h1 {
    font-size: 42px;
    line-height: 54px;
    letter-spacing: -1px;
}

h2 {
    font-size: 34px;
    line-height: 44px;
    letter-spacing: -1px;
}

h3 {
    font-size: 26px;
    line-height: 33px;
    letter-spacing: -1px;
}

h4 {
    font-size: 20px;
    line-height: 31px;
}

h5 {
    font-size: 16px;
    line-height: 21px;
}

h6 {
    font-size: 13px;
    line-height: 21px;
}

.h2 {
    font-size: 35px;
    line-height: 48px;
    letter-spacing: -1px;
}

.h3,
h3 {
    font-size: 26px;
    line-height: 38px;
}

p {
    margin: 0px 0px 24px 0px;
}

p:last-child {
    margin: 0px;
}

a {
    color: #3544ee;
}

a:hover {
    color: #202db8;
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0;
    text-decoration: none;
}

a.text-primary:focus,
a.text-primary:hover {
    color: #202db8 !important;
}

.space-medium {
    padding-bottom: 100px;
}

@media screen and (max-width: 1000px) {
    .space-medium {
        padding-top: 200px;
        padding-bottom: 100px;
    }
}

.btn {
    font-size: 16px;
    padding: 11px 21px;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    transition: .3s ease;
    font-family: 'Circular Std Medium' !important;
}

.btn-outline-primary {
    color: #3544ee;
    background-color: transparent;
    border-color: #3544ee;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #3544ee;
    border-color: #3544ee;
}

.btn-outline-primary.focus,
.btn-outline-primary:focus {
    color: #fff;
    background-color: #3544ee;
    border-color: #3544ee;
    box-shadow: 0 0 0 1px rgb(53, 68, 238);
}

.btn-rounded {
    border-radius: 100px;
}


.feature-block-v7 {}

.feature-block-v7.feature-block {
    margin-bottom: 30px;
}

.feature-block-v7 .feature-content {}

.feature-block-v7 .feature-title {
    margin-bottom: 5px;
    font-size: 21px;
}

.feature-block-v7 .feature-text {}

.feature-block-v7 .feature-icon {
    background-color: #e1e4fd;
    color: #3544ee;
    padding: 18px;
    font-size: 20px;
    display: block;
    text-align: center;
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
    line-height: 1.5;
    border-radius: 100%;
}

.feature-app-img {
    position: relative;
    text-align: center;
}

.circle-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 390px;
    height: 390px;
    background-color: #b99999;
    color: white;
    text-align: center;
    line-height: 100px;
    border-radius: 50%;
    font-size: 1.3rem;
}

.circle-1:hover {
    cursor: pointer;
}

.circle-1::after,
.circle-1::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 390px;
    height: 390px;
    background: #b99999;
    border-radius: 50%;
    z-index: -1;
    -webkit-animation: grow 3s ease-in-out infinite;
    animation: grow 3s ease-in-out infinite;
}

.circle-1::after {
    background: rgb(175, 153, 134);
}

.circle-1::after::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 390px;
    height: 390px;
    background: #b99999;
    border-radius: 50%;
    z-index: -1;
    -webkit-animation: grow 3s ease-in-out infinite;
    animation: grow 3s ease-in-out infinite;
}

.circle-1::before {
    background: rgb(175, 153, 134);
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.circle-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 390px;
    height: 390px;
    background-color: #9c4efb;
    color: white;
    text-align: center;
    line-height: 100px;
    border-radius: 50%;
    font-size: 1.3rem;
}

.circle-2:hover {
    cursor: pointer;
}

.circle-2::after,
.circle-2::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 390px;
    height: 390px;
    background: #9c4efb;
    border-radius: 50%;
    z-index: -1;
    -webkit-animation: grow 3s ease-in-out infinite;
    animation: grow 3s ease-in-out infinite;
}

.circle-2::after {
    background: rgba(156, 78, 251, .5);
}

.circle-2::after::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 390px;
    height: 390px;
    background: #b99999;
    border-radius: 50%;
    z-index: -1;
    -webkit-animation: grow 3s ease-in-out infinite;
    animation: grow 3s ease-in-out infinite;
}

.circle-2::before {
    background: rgba(156, 78, 251, .5);
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.circle-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 390px;
    height: 390px;
    background-color: #fb8645;
    color: white;
    text-align: center;
    line-height: 100px;
    border-radius: 50%;
    font-size: 1.3rem;
}

.circle-3:hover {
    cursor: pointer;
}

.circle-3::after,
.circle-3::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 390px;
    height: 390px;
    background: #fb8645;
    border-radius: 50%;
    z-index: -1;
    -webkit-animation: grow 3s ease-in-out infinite;
    animation: grow 3s ease-in-out infinite;
}

.circle-3::after {
    background: rgba(251, 134, 69, .5);
}

.circle-3::after::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 390px;
    height: 390px;
    background: #b99999;
    border-radius: 50%;
    z-index: -1;
    -webkit-animation: grow 3s ease-in-out infinite;
    animation: grow 3s ease-in-out infinite;
}

.circle-3::before {
    background: rgba(251, 134, 69, .5);
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

@-webkit-keyframes grow {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1.8, 1.8);
        transform: scale(1.8, 1.8);
        opacity: 0;
    }
}

@keyframes grow {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1.8, 1.8);
        transform: scale(1.8, 1.8);
        opacity: 0;
    }
}

.caption div {
    box-shadow: 0 0 5px #C8C8C8;
    transition: all 0.3s ease 0s;
}

.img-circle {
    border-radius: 50%;
}

.img-circle {
    border-radius: 0;
}

.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}

.img-circle {
    border-radius: 50%;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.summary {
    font-size: large;
    text-align: justify;
    text-justify: inter-word;
    padding-bottom: 10px;
}

#ads {
    margin: 30px 0 30px 0;

}

#ads .card-notify-badge {
    position: absolute;
    left: -10px;
    top: -20px;
    background: #f2d900;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: #000;
    padding: 5px 10px;
    font-size: 14px;

}

#ads .card-notify-year {
    position: absolute;
    right: -10px;
    top: -20px;
    background: #ff4444;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    width: 50px;
    height: 50px;
    padding: 15px 0 0 0;
}


#ads .card-detail-badge {
    background: #f2d900;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: #000;
    padding: 5px 10px;
    font-size: 14px;
}

#ads .img-fluid {
    height: 300px;
    width: 300px;
}

#ads .card:hover {
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
    border-radius: 4px;
    transition: all 0.3s ease;
}

#ads .card-image-overlay {
    font-size: 20px;

}


#ads .card-image-overlay span {
    display: inline-block;
}


#ads .ad-btn {
    text-transform: uppercase;
    width: 150px;
    height: 40px;
    border-radius: 80px;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    border: 3px solid #e6de08;
    display: block;
    text-decoration: none;
    margin: 20px auto 1px auto;
    color: #000;
    overflow: hidden;
    position: relative;
    background-color: #e6de08;
}

#ads .ad-btn:hover {
    background-color: #e6de08;
    color: #1e1717;
    border: 2px solid #e6de08;
    background: transparent;
    transition: all 0.3s ease;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
}

#ads .ad-title h5 {
    text-transform: uppercase;
    font-size: 18px;
}

.container {
    max-width: 1000px;
    margin: 2em auto;
    padding: 1em;
}

.card {
    border: 2px solid #ddd;
    padding: 1rem;
    border-radius: 6px;
    margin-bottom: 1.5em;
    transition: .5s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 3px 12px rgba(1, 1, 1, 0.35);
}

.button {
    color: #fff;
    font-size: 1.5em;
    border-radius: 6px;
    width: 49.5%;
    border: 0;
    margin: 4.5px 1.5px 5.5px 0px;
    padding: .5em 0;
    background-color: #2e8ece;
    display: inline;
}

.button:hover {
    background-color: #3498db;
}

.disabled,
.disabled:hover {
    background-color: green;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
}